* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    max-width: 2000px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #031540; /* #30445e     #031540*/
    text-decoration: none;
    font-weight: 700;

}

.navbar a {
    transition-property: font-size;
    transition-property: color;
    transition-duration: .5s;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar #home-btn {
    color: #00abf0;
}

.navbar a:hover {
    transition-property: font-size;
    transition-property: color;
    transition-duration: .5s;
    font-size: 22px;
    cursor: pointer;
    color: #00abf0;
}

.navbar #home-btn:hover {
    transition-property: font-size;
    transition-property: color;
    transition-duration: .5s;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
}

.home {
    height: 100vh;
    background: linear-gradient(-90deg, #031540 65%, #ffffff 35%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home-image {
    width: 420px;   /*change size for phone and smaller screen to like 400*/
    height: 420px;
    background: #00abf0;
    border-radius: 50%;
    background: #031540;
    border: 20px solid #ffffff;
    display: flex;
    align-items:center;
    justify-content: center;
    outline: 20px solid #031540;  /*maybe delete*/ 
}

.home-image img {
    position: relative;
    max-width: 320px;
    max-height: 320px;
    border-radius: 50%;
}

.home-content {
    max-width: 550px; /*change size for phone and smaller screen to like 400*/
    color: #ffffff;
    text-align: right;
}

.home-content h1 {
    font-size: 55px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -430px 0;
    animation: animateText 5s linear infinite;
}

@keyframes animateText {
    0%,95%,100% {
        background-position: -430px 0;
    }
    65%,85% {
        background-position: 0px 0;
    }
}

.home-content p {
    font-size: 16px;
    margin-top: 20px;
}

.home-social {
    margin-top: 25px;
    margin-bottom: 40px;
}

.home-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin-left: 30px;
    transition: 1s;
}

.home-social a:hover {
    cursor: pointer;
    color: #ffffff;
    background: #00abf0;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}

.download-btn {
    padding: 12px 20px;
    background: #00abf0;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 10px #00abf0;
    transition-property: background;
    transition-property: color;
    transition-duration: .5s;
    
}

.download-btn:hover {
    transition-property: background;
    transition-property: color;
    transition-duration: .5s;
    box-shadow: 0 0 10px #ffffff;
    color: #00abf0;
    background: #ffffff;
}






/*----------------about page----------------------------------------*/

.about {
    height: 100vh;   
    background: linear-gradient(-13deg, #031540 90%, #ffffff 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.about-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-top {
    margin-top: 12%;
    height: 44%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
}

.about-top .first-text {
    width: 60%;
}

.first-text h4 {
    margin-top: 40px;
    font-size: 30px;
    color: #00abf0;
}

.first-text hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.first-text p {
    font-size: 18px;
}

.about-top .section-name {
    width: 40%;
    font-size: 40px;
    text-align: center;
    align-self: flex-start;
}

.section-name h2 {
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -390px 0;
    animation: animateText2 5s linear infinite;
}

@keyframes animateText2 {
    0%,95%,100% {
        background-position: -390px 0;
    }
    65%,85% {
        background-position: 0px 0;
    }
}

.section-name img {
    height: 240px;
    width: 240px;
    object-fit: cover; 
}

.about-bottom {
    height: 44%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    overflow: hidden; /*may remove later for scroller */
}

.about-bottom .second-text {
    width: 60%;
    text-align: left;
    padding-left: 30px;
    font-size: 18px;
}

.about-bottom .skills-icons {
    width: 40%;
    height: 100%;
}

.skills-icons {
    display: flex;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
}

.icon-scroll {
    position: relative;
    display: flex;
    max-width: 100%;
    height: 25%;
    overflow: hidden;
}

.icon-scroll .scroll-imgs1 {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
}

@keyframes scroll {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.icon-scroll-r .scroll-imgs2 {
    white-space: nowrap;
    animation: scrollr var(--time) linear infinite;
}

@keyframes scrollr {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.scroll-imgs1, .scroll-imgs2 {
    margin-right: 10px;
}

.scroll-imgs2{
    margin-top: 30px;
}







/*----------------projects page----------------------------------------*/

.project {
    height: 100vh;   
    background: linear-gradient(-13deg, #031540 90%, #ffffff 10%);
    padding: 0 10%;
}

.project-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.projects-text {
    text-align: center;
    margin-top: 8%;
}

.projects-text h2 {
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -790px 0;
    animation: animateText3 5s linear infinite;
}

@keyframes animateText3 {
    0%,95%,100% {
        background-position: -790px 0;
    }
    65%,85% {
        background-position: 0px 0;
    }
}

.projects-text p {
    font-size: 20px;
    opacity: 80%;
}

.projects-conatiner {
    margin-top: 30px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.projects-eng {
    background: #00abf0;
    border: 2px solid #ffffff;
    width: 30%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 0px rgba(255,255,255,0.75);  
}

.projects-web {
    background: #00abf0;
    border: 2px solid #ffffff;
    width: 30%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 0px rgba(255,255,255,0.75);
}

.projects-misc {
    background: #00abf0;
    border: 2px solid #ffffff;
    width: 30%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 0px rgba(255,255,255,0.75);
}

.projects-inside-top {
    height: 65%;
}

.projects-inside-top img {
    margin-top: 10px;
    width: 95%;
    max-height: 100%;
    border-radius: 10px;
    border: 2px solid #031540;
}

.projects-inside-bottom {
    height: 35%;
}

.projects-inside-bottom p {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.projects-inside-bottom button {
    width: 80%;
    padding: 12px 20px;
    background: #031540;
    border: 2px solid #ffffff;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    transition-property: background;
    transition-property: color;
    transition-duration: .5s;
    
}

.projects-inside-bottom button:hover {
    transition-property: background;
    transition-property: color;
    transition-duration: .5s;
    transform: scale(1.1);
    box-shadow: 0 0 10px #ffffff;
    color: #00abf0;
    background: #ffffff;
}

/*-----Modal------*/

.modal-projects p {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.modal-projects h4 {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
}


.modal-img-wrap {
    display: flex;
    overflow: auto;
    white-space: nowrap; 
}

.modal-projects img {
    max-height: 300px;
    margin-right: 20px;
    margin-top: 30px;
}

.singular-img img{
    margin: 0 auto;
}

.modal-1, .modal-2, .modal-3, .modal-4 {
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;  /*gives us the scroll bar*/
    background-color: rgba(255,255,255,0.8);
}

.modal-1 {
    display: none;  /*hides modal until btn pushed, changes w JS*/
}

.modal-2 {
    display: none;  /*hides modal until btn pushed, changes w JS*/
}

.modal-3 {
    display: none;  /*hides modal until btn pushed, changes w JS*/
}

.modal-4 {
    display: none;  /*hides modal until btn pushed, changes w JS*/
}

.modal-content {
    background: linear-gradient(-45deg, #00abf0, #031540);
    margin: 10% auto;
    width: 70%;
    padding: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.6), 5px 7px 20px 0px rgba(0,0,0,0.3);
}

.close-btn {
    color: white;
    float: right;
    font-size: 30px;
}

.close-btn:hover, .close-btn:focus {
    color: red;
    cursor: pointer;
    text-decoration: none;
}







/*----------------Contact page----------------------------------------*/

.contact {
    height: 100vh;   
    background: linear-gradient(-13deg, #031540 90%, #ffffff 10%);
    /*padding: 0 10%;*/      /*moved padding to contact top
    to allow for footer to take 100% of width*/
}

.contact-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact-content .contact-top {
    height: 80%;
    padding: 0 10%;
    padding-bottom: 20px;
}

.contact-content .contact-bottom {
    height: 20%;
}

.contact-top {
    display: flex;
}

.contact-top {
    margin-top: 7.5%;
}

.contact-left {
    width: 60%;
}

.contact-right {
    width: 40%;
}

.contact-left h2 {
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -730px 0;
    animation: animateText4 5s linear infinite;
}

@keyframes animateText4 {
    0%,95%,100% {
        background-position: -730px 0;
    }
    65%,85% {
        background-position: 0px 0;
    }
}

.contact-left h4 {
    margin-top: 5%;
    font-size: 30px;
    color: #00abf0;
}

.contact-left hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-left p {
    font-size: 20px;
    padding-left: 20px;
    align-self: center;
}

.contact-left a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin-left: 20px;
    transition: 1s;
}

.contact-left a:hover {
    cursor: pointer;
    color: #ffffff;
    background: #00abf0;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}

.contact-location, .contact-email, .contact-education,
 .contact-phone, .contact-languages {
    display: flex;
    align-items: center;
    padding-bottom: 10px;   
}

.contact-right {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    /*align-items: start; */
    gap: 20px;
}

.contact-inputs {
    width: 350px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-form-container textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #00abf0;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-form-container button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color:#ffffff;
    gap: 10px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    background: linear-gradient(-45deg, #00abf0, #031540);
    cursor: pointer;
}

.contact-form-container button img {
    height: 20px;
}





/*----------------footer----------------------------------------*/

.contact .contact-content .contact-bottom {
    background-color: rgba(0, 171, 240, .8);
    padding: 0;
    width: 100%;
}

.footer-icons {
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    padding: 10px;
}

.footer-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    transition: 1s;
}


.footer-icons a:hover {
    cursor: pointer;
    color: #ffffff;
    background: #031540;
    border-color: #031540;
    box-shadow: 0 0 10px #031540;
}

.footer-designed-by {
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.footer-designed-by a, .footer-designed-by p{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer-designed-by a {
    text-decoration: none;
    font-size: 16px;
}

.footer-designed-by p {
    margin-left: 10px;
    font-size: 16px;
}









#secret-btn {
    display: none; /*most important*/


    color:transparent;
    background-color: transparent;
    border: none;
    font-size: 5px;
    padding-bottom: 5px;
}


#secret-btn:hover {
    display: none;

    
    cursor: pointer;
    font-size: 16px;
    padding-left: 20px;
    transform: scale(1.3);
    color: rgba(255, 255, 255, .6);
    background-color: transparent;
    border: none;
}


.modal-content .project-secret {
    display: none;

    
    text-align: center;
}

.modal-content .project-secret h2{
    display: none;

    
    font-size: 50px;
}

.modal-content .project-secret h4{
    display: none;

    
    font-size: 30px;
    font-weight: 500;
}

.modal-content .project-secret p{
    display: none;

    
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}

.modal-content .project-secret img{
    display: none;

    
    max-width: 600px;
}













html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}














@media (max-width:1200px){
/*----------------home page-----------------*/
.home-image {
    width: 320px;   /*change size for phone and smaller screen to like 400*/
    height: 320px;
    background: #00abf0;
    border-radius: 50%;
    background: #031540;
    border: 20px solid #ffffff;
    display: flex;
    align-items:center;
    justify-content: center;
    outline: 20px solid #031540;  /*maybe delete*/ 
}

.home-image img {
    position: relative;
    max-width: 230px;
    max-height: 230px;
    border-radius: 50%;
}

.home-content {
    max-width: 470px; /*change size for phone and smaller screen to like 400*/
    color: #ffffff;
    text-align: right;
}

.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 35px;
}

}






@media (max-width:1000px){

/*----------------home page-----------------*/

.home, .about, .project{
    height: 100vh;   
    background: linear-gradient(-13deg, #031540 90%, #ffffff 10%);
    padding: 0 5%;
}

.contact {
    height: 100vh;   
    background: linear-gradient(-13deg, #031540 90%, #ffffff 10%);
}

.contact-content .contact-top {
    padding: 0 5%;
}

.home-image {
    width: 0px;   /*change size for phone and smaller screen to like 400*/
    height: 0px;
    background: #00abf0;
    border-radius: 50%;
    background: #031540;
    border: 0px solid #ffffff;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    outline: 0px solid #031540;  /*maybe delete*/ 
}

/*----------------about page-----------------*/

.section-name h2 {
    font-size: 45px;
}

.section-name h4 {

}

.section-name img {
    height: 240px;
    width: 240px;
    object-fit: cover;
}

.first-text h4 {
    margin-top: 50px;
    font-size: 25px;
    color: #00abf0;
}

.first-text hr {
    border: none;
    width: 100px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
}


/*----------------project page-----------------*/

.projects-text h2 {
    font-size: 50px;
    margin-top: 30px;
}

.projects-inside-top {
    height: 55%;
}

.projects-inside-top img {
    margin-top: 10px;
    width: 95%;
    max-height: 100%;
    border-radius: 10px;
    border: 2px solid #031540;
}

.projects-inside-bottom {
    height: 45%;
}

.projects-inside-bottom p {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.modal-projects img {
    max-height: 220px;
}

/*----------------contact page-----------------*/

.contact-left h2 {
    font-size: 40px;
    margin-top: 20px;
}

.contact-left h4 {
    margin-top: 2%;
    font-size: 25px;
    color: #00abf0;
}

.contact-left hr {
    border: none;
    width: 100px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-left p {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    align-self: center;
}

.contact-left a {
    width: 30px;
    height: 30px;
    font-size: 16px;
}

.footer-icons a {
    width: 30px;
    height: 30px;
    font-size: 16px;
}

.contact-inputs {
    width: 250px;
    height: 50px;
}

.contact-form-container textarea {
    height: 110px;
    padding-top: 15px;
    border-radius: 20px;
}

}








@media (max-width:800px){

.body {
    text-align: center;
}   
/*----------------home page-----------------*/
.header {
    display: none;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

/*.home-image {
    display: none;  maybe delete 
}*/



.home-image {
    width: 100px;   /*change size for phone and smaller screen to like 400*/
    height: 100px;
    background: #00abf0;
    border-radius: 50%;
    background: #031540;
    border: 20px solid #ffffff;
    display: flex;
    align-items:center;
    justify-content: center;
    outline: 20px solid #031540;  /*maybe delete*/ 
}

.home-image img {
    position: relative;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    margin-bottom: 50px;
}




.home-content {
    text-align: center;
    max-width: 100vw;
}

.home-content h1 {
    font-size: 30px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 22px;
}



.home-content p {
    font-size: 16px;
    margin-top: 10px;
}

.home-social {
    margin-top: 10px;
    margin-bottom: 20px;
}

.home-social a {
    width: 30px;
    height: 30px;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}


/*----------------about page-----------------*/

.about {
    display: block;
}

.about-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-top {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 65%;
}

.about-top .first-text {
    width: 100%;
}

.first-text h4 {
    margin-top: 20px;
    font-size: 25px;
    color: #00abf0;
    text-align: center;
}

.first-text hr {
    display: none;
}

.first-text p {
    font-size: 16px;
    text-align: center;
}

.about-top .section-name {
    width: 100%;
    font-size: 40px;
    text-align: center;
    align-self: center;
}

.section-name h2 {
    font-size: 40px;
    margin-top: 50px;
}


.section-name img {
    display: none;
}

.about-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 35%;
}

.about-bottom .second-text {
    width: 100%;
    text-align: center;
    padding-left: 0px;
    font-size: 16px;
    margin-top: 20px;
}

.about-bottom .skills-icons {
    display: none;
}

.skills-icons {
    display: none;
}

.icon-scroll {
   display: none;
}

.icon-scroll .scroll-imgs1 {
    display: none;
}

.icon-scroll-r .scroll-imgs2 {
    display: none;
}

.scroll-imgs1, .scroll-imgs2 {
    margin-right: 0px;
}

.scroll-imgs2{
    margin-top: 0px;
}





/*----------------project page-----------------*/

.project {
    height: 100vh;   
    background: linear-gradient(-13deg, #031540 90%, #ffffff 10%);
    padding: 0 10%;
}

.project-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.projects-conatiner {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.projects-eng {
    width: 80%;
    height: 25%;
    text-align: center;  
}

.projects-web {
    width: 80%;
    height: 25%;
    text-align: center;
}

.projects-misc {
    width: 80%;
    height: 25%;
    text-align: center;
}

.projects-inside-top {
    height: 0%;
}

.projects-inside-top img {
    display: none;
}

.projects-inside-bottom {
    height: 100%;
}

.projects-inside-bottom p {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.projects-inside-bottom button {
    width: 80%;
    padding: 5px 10px;
    background: #031540;
    border: 2px solid #ffffff;
    border-radius: 40px;
    
}

.modal-projects img {
    max-height: 150px;
}




/*----------------contact page-----------------*/

.contact-bottom {
    display: none;
}

.contact-top {
    flex-direction: column;
}


.contact-content .contact-top {
    height: 50%;
}

.contact-content .contact-bottom {
    height: 50%;
}

.contact-top {
    margin-top: 7.5%;
}

.contact-left {
    width: 100%;
}


.contact-left a {
    width: 30px;
    height: 30px;
    font-size: 16px;
}

.contact-left p {
    font-size: 16px;
    padding-left: 10px;
}

.contact-right {
    width: 100%;
}



.contact-right {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*align-items: start; */
    gap: 20px;
}

.contact-inputs {
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-form-container textarea {
    height: 80px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #00abf0;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-form-container button {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    font-size: 16px;
    color:#ffffff;
    gap: 10px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    background: linear-gradient(-45deg, #00abf0, #031540);
    cursor: pointer;
}

.contact-form-container button img {
    display: none;
}

}


@media (max-width:600px){


/*----------------home page-----------------*/

.home-image {
    width: 50px;   /*change size for phone and smaller screen to like 400*/
    height: 50px;
    background: #00abf0;
    border-radius: 50%;
    background: #031540;
    border: 10px solid #ffffff;
    display: flex;
    align-items:center;
    justify-content: center;
    outline: 10px solid #031540;  /*maybe delete*/ 
}

.home-image img {
    position: relative;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-bottom: 50px;
}

/*----------------about page-----------------*/

.section-name h2 {
    font-size: 40px;
    margin-top: 40px;
}

.first-text h4 {
    margin-top: 20px;
}

.first-text p {
    font-size: 15px;
    text-align: center;
}

.about-bottom .second-text {
    font-size: 15px;
    margin-top: 5px;
}

/*----------------projects page-----------------*/
    
.modal-projects img {
    max-height: 120px;
}    


/*----------------contact page-----------------*/    

.contact-left h2{
    padding-top: 20px;
}

.contact-left a {
    width: 25px;
    height: 25px;
    font-size: 14px;
}

.contact-left p {
    font-size: 14px;
    padding-left: 10px;
}

}